<%include ../include/header.html%>
<%
    articles.forEach(function(article){ %>
<div class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object" src="<%=article.user.avatar%>" alt="...">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading"><a href="/article/detail/<%=article._id%>"><%=article.title%></a></h4><!--属性前是=表示按字符串显示-->
        <p><span style="color: red"><%=article.user.username%></span>  <%-article.content%></p><!--属性前是-表示按标签显示-->
    </div>
</div>

<%})
%>

<%include ../include/footer.html%>

